<div class="page-header">
  <div class="center-btn">
    <div [routerLink]="['/user/fundraiser']">
      Start the System
    </div>
  </div>
  <div class="welcome">
    <div>
      Welcome to the crowdfunding system, where we hope do something which can help others.
    </div>
  </div>
</div>
<div class="img-list">
  <div class="list-inner">
    <div class="area-item">
      <div>
        <img src="../../../assets/images/list1.png" alt="">
      </div>
      <div class="item-name">Fundraising FAQ</div>
    </div>
    <div class="area-item">
      <div>
        <img src="../../../assets/images/list2.png" alt="">
      </div>
      <div class="item-name">Raise money for the elderly</div>
    </div>
    <div class="area-item">
      <div>
        <img src="../../../assets/images/list3.png" alt="">
      </div>
      <div class="item-name">How to Ask for Help</div>
    </div>
  </div>
</div>
<div class="introduce">
  <div class="introduce-inner">
    <div class="introduce-title">
      A TRUSTWORTHY CROWDFUNDING PLATFORM<br>
      HELP OTHERS, HAPPY THEMSELVES
    </div>
    <div class="introduce-info">
      Welcome to our crowdfunding Management platform, a dynamic website designed for nonprofits to connect fundraisers and supporters. We are committed to providing an efficient and secure platform for individuals and groups seeking funding for specific reasons so that they can present their story to the public and receive the support they need.
    </div>
  </div>
</div>
<div class="example">
  <div class="example-inner">
    <div class="example-title">PARTIAL SUCCESS STORY</div>
    <div class="example-list">
      <div class="example-item">
        <div class="example-name">Orphanage food aid</div>
        <div class="example-content">
          <div class="example-header">
            <div class="fundraiser">
              <div class="label">Fundraiser</div>
              <div class="value">Mr Li</div>
            </div>
            <div class="target">
              <div class="label">Target amount</div>
              <div class="value">$5,000</div>
            </div>
            <div class="target">
              <div class="label">Actual fundraising</div>
              <div class="value">$6,200</div>
            </div>
          </div>
          <div class="story">
            Story: Mr.Li started a food aid program for an orphanage. By sharing the stories of the children in the orphanage, he mobilized many caring people to donate. The funds raised not only meet the children's dietary needs, but also provide them with school supplies.
          </div>
        </div>
      </div>
      <div class="example-item">
        <div class="example-name">Medical support for cancer patientsMedical support for cancer patients</div>
        <div class="example-content">
          <div class="example-header">
            <div class="fundraiser">
              <div class="label">Fundraiser</div>
              <div class="value">Ms Zhang</div>
            </div>
            <div class="target">
              <div class="label">Target amount</div>
              <div class="value">$15,000</div>
            </div>
            <div class="target">
              <div class="label">Actual fundraising</div>
              <div class="value">$18,000</div>
            </div>
          </div>
          <div class="story">
            Story: Ms. Zhang started a fundraising project because of her friend's cancer diagnosis to help her pay for the high medical costs. Through the support of her friends and family and media coverage, she managed to raise awareness, eventually achieving her goal and providing her friend with the necessary treatment.
          </div>
        </div>
      </div>
      <div class="example-item">
        <div class="example-name">Town library reconstruction project</div>
        <div class="example-content">
          <div class="example-header">
            <div class="fundraiser">
              <div class="label">Fundraiser</div>
              <div class="value">Ms. Zhao</div>
            </div>
            <div class="target">
              <div class="label">Target amount</div>
              <div class="value">$10,000</div>
            </div>
            <div class="target">
              <div class="label">Actual fundraising</div>
              <div class="value">$12,500</div>
            </div>
          </div>
          <div class="story">
            Story: Ms. Zhao initiated this project to rebuild the small town library in her hometown. Through social media and community events, she managed to attract support from local residents and ultimately exceeded her fundraising goal. The new library opened in the summer as a new cultural hub for the community.
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
