#loading {
  display: block;
}
#loading img {
  width: 700px;
  margin: 50px auto;
  display: block;
}
#progress {
  text-align: center;
  position: relative;
  top: -180px;
  font-size: 20px;
  font-weight: bold;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow:
    6px 6px 0 rgba(0, 150, 136, 0.7);
}
